.heading {
  color: #919191;
  font-weight: normal;
  margin: 0;
}
.nftList {
  display: flex;
  overflow-x: auto;
  padding: 18px 0;
  margin: 0;
}

.container {
  margin: 10px;
}

.nftIcon {
  list-style: none;
}

.empty {
  color: #919191;
  padding: 18px 0;
  text-align: center;
}
